.header{
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 11;
  background: #00CBB3;
  box-shadow: 0px 2px 10px rgba(51, 51, 51, 0.1);
}

::placeholder{
  color: #BEBEBE;
  text-decoration-style: none;
}

.logo{
  padding: 30p, 0px;
}

.menuatas{
  width: 100%;
  display: flex;
  height: 60px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0px auto;
}

.logo__kasdio{
  width: auto;
  height: 33px;
  margin-right: 20px;
}

.logostyle{
  width: 40px;
  height: 33px;
}

.search{
  text-decoration: none;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(22, 22, 22);
  font-size: 12px;
  height: 36px;
  width: 100%;
  margin-right: 15px;
  background: rgb(250, 250, 250);
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 0px 15px;
  border-radius: 20px;
}

.cari{
  color: rgb(22, 22, 22);
  font-size: 12px;
}

.ex{
  cursor: pointer;
}

.notifikasi{
  text-decoration: none;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  border-width: initial;
  padding: 0px 15px;
  border-radius: 20px;
}

.cart   {
  text-decoration: none;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  border-width: initial;
  padding: 0px 17px;
  border-radius: 20px;
  margin-bottom: 8px;
}

.notif-color{
  color: white;
}

.cart-color{
  color: white;
}
.main{
    position: relative;
    top: 60px;
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
    min-height: calc(100vh - 80vh);
    margin: 0px auto;
    padding: 0px 16px 80px
}

img {
  max-width: 100%; 
}

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; 
}

@media screen and (max-width: 996px) {
  .preview {
    margin-bottom: 20px; } 
}

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; 
}

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; 
  margin-bottom: 100px;
}

.preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 2.5%; 
}

.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block; 
}

.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0; 
}

.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0; 
}

.tab-content {
  overflow: hidden; 
}

.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s; 
}

.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; 
}

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; 
  } 
}

.p{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 18px;
}

@media (max-width: 576px){
  .harga{
    font-size: 18px;
    align-items: center;
  }
}

.harga{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 71px;
  display: flex;
  align-items: center;
  color: #00CBB3;
}

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; 
}

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; 
}

.product-title{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 66px;
  line-height: 80px;
  display: flex;
  align-items: center;
}

.product-title, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; 
}

.stok{
  font-family: 'Montserrat',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  margin-left: 16px;
}

.checked{
  color: #ff9f1a; 
}

.product-description{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.product-title, .rating, .product-description {
  margin-bottom: 15px; 
}

.product-title {
  margin-top: 0; 
}

.ukuran{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
}

.title-lebar{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 16px;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } 
          }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }