.header{
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 11;
    background: linear-gradient(90deg, #7FAAB0 0%, #819598 117.75%);
    box-shadow: 0px 2px 10px rgba(51, 51, 51, 0.1);
}

::placeholder{
    color: rgb(22, 22, 22);
    text-decoration-style: none;
}

.logo{
    padding: 30p, 0px;
}

.menuatas{
    width: 100%;
    display: flex;
    height: 60px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px auto;
}

.logo__kasdio{
    width: auto;
    height: 33px;
    margin-left: 10px;
}

.logostyle{
    width: 40px;
    height: 33px;
}

.search{
    text-decoration: none;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(22, 22, 22);
    font-size: 12px;
    height: 36px;
    width: 100%;
    background: rgb(250, 250, 250);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 0px 15px;
    border-radius: 2px;
    margin-left: 6px;
}
    
.cari{
    color: rgb(22, 22, 22);
    font-size: 12px;
}

.ex{
    cursor: pointer;
    color: black;
}

.cart   {
    text-decoration: none;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    align-items: center;
    border-width: initial;
    border-radius: 20px;
    margin-bottom: 8px;
}

.notif-color{
    color: white;
}

.cart-color{
    margin: 10px;
    color: white;
}

.button-masuk{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-right: 20px;
}

.button-daftar{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-right: 3em;
}

.main{
    position: relative;
    top: 60px;
    width: 100%;
    box-sizing: border-box;
    margin: 0px auto;
    padding: 0px 16px 80px
}

.slider{
    cursor: pointer;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    text-align: center;
    background: linear-gradient(90deg, #7FAAB0 0%, #819598 117.75%);
    font-size: 18px;

    /* Center slide text vertically */
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


.title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 66px;
    line-height: 80px;
    margin-bottom: 30px;
    position: relative;
    color: white;
    margin: 50px 0px;
}

.text__title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    color:white;
}

.titile__produk{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

.button{
    background: #00CBB3;
    width: 409.14px;
    border-radius: 4px;
}

.category-content{
    position: relative;
    padding: 30px;
  }
  
  .category-scroll{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-bottom: 1em;
  }
  
  .category-style{
    cursor: pointer;
    color: inherit;
    margin: 0px 0.5em 1em;
    text-decoration: none;
  }
  
  .category-haskj{
    width: 100px;
  }
  
  .category-sdfj{
    display: flex;
    flex-direction: column;
    border-width: 0.5px;
    border-radius: 4px;
  }
  
  .category-laosdj{
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    flex: 1 1 0%;
  }
  
  .category-text{
    padding: 0.5em;
  }
  
  .category-text--jsdf{
    min-height: 1em;
  }
  
  .category-text--jfasd{
    font-family: 'Montserrat' , sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: rgb(74, 74, 74);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
    margin: 0.25em 0em;
    overflow: hidden
  }

.Content__produk{
    font-family: 'Montserrat', sans-serif;
    color: rgb(74, 74, 74);
    line-height: 80px;
    font-weight: 600;
    font-size: 16px;
    margin: 0px;
}

.Content__card{
    position: relative;
}

.Card__lid{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-bottom: 1em;
}

.Card__style{
    cursor: pointer;
    color: inherit;
    margin: 0px 0.5em 1em;
    text-decoration: none;
}

.Card{
    width: 200px;
}

.Card__plapal{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(152, 152, 152, 0.2) 0px 2px 8px 1px;
    border-width: 0.5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-image: initial;
    border-radius: 4px;
}

.card__plapal--figure{
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    flex: 1 1 0%;
}

.img-toko{
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 4px 4px 0px 0px;
}

.card__judul{
    padding: 0.5em;
}

.card__detail--judul{
    min-height: 1em;
}

.card__judulbarang{
    font-family: 'Montserrat' , sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: rgb(74, 74, 74);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
    margin: 0.25em 0em;
    overflow: hidden;
}

.textkecil{
 font-family: 'Montserrat', sans-serif;
 font-weight: 300;
 font-style: normal;
 font-size: 14px;
}

.card__namatoko{
    margin: 0.5em 0em;
}

.card__Toko{
    display: flex;
    font-weight: 600;
    width: 100%;
    vertical-align: middle;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    -webkit-box-align: center;
    align-items: center;
    margin: 0.25em 0em;
    margin-left: 7px;
}

.card__Toko--nama{
    font-family: 'Montserrat' , sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    font-weight: 300;
    color: #373737;
}

.harga__barang{
    display: flex;
    flex-direction: column;
}

.jumlah{
    font-family: 'Montserrat', sans-serif;
    line-height: 17.07px;
    font-weight: 700;
    font-size: 14px;
    color: #00CBB3;
}

.product_btm_text{
    padding: 0.5em;
}

.p_rating{
	color: #fec42d;
	cursor: pointer;
}

.link__semua{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 1em 0px;
}

.link__semua--toko{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: 0px;
}

.img-modal{
    color: black;
}
