.header{
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 11;
    background: rgb(22, 22, 22);
}

::placeholder{
    color: rgb(22, 22, 22);
    text-decoration-style: none;
}

.menuatas{
    width: 100%;
    display: flex;
    height: 60px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px auto;
}

.logo{
    width: auto;
    height: 33px;
    margin-right: 20px;
}

.logostyle{
    width: 33px;
    height: 33px;
}

.search{
    text-decoration: none;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(22, 22, 22);
    font-size: 12px;
    height: 36px;
    width: 100%;
    margin-right: 15px;
    background: rgb(250, 250, 250);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 0px 15px;
    border-radius: 20px;
}

.cari{
    color: rgb(22, 22, 22);
    font-size: 12px;
}

.ex{
    cursor: pointer;
}

.notifikasi{
    text-decoration: none;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border-width: initial;
    padding: 0px 15px;
    border-radius: 20px;
}

.cart   {
    text-decoration: none;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border-width: initial;
    padding: 0px 17px;
    border-radius: 20px;
    margin-bottom: 8px;
}

.notif-color{
    color: white;
}

.cart-color{
    color: white;
}

.main{
    position: relative;
    top: 60px;
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
    min-height: calc(100vh - 50vh);
    margin: 0px auto;
    padding: 0px 16px 80px;
}

.Transaksi{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    line-height: 80px;
    margin: 0px 0px 0px;    
}

