.header{
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 11;
    background: #00CBB3;
    box-shadow: 0px 2px 10px rgba(51, 51, 51, 0.1);
}

::placeholder{
    color: rgb(22, 22, 22);
    text-decoration-style: none;
}

.logo{
    padding: 30p, 0px;
}

.menuatas{
    width: 100%;
    display: flex;
    height: 60px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px auto;
}

.logo__kasdio{
    width: auto;
    height: 33px;
    margin-left: 10px;
}

.logostyle{
    width: 40px;
    height: 33px;
}

.search{
    text-decoration: none;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(22, 22, 22);
    font-size: 12px;
    height: 36px;
    width: 100%;
    background: rgb(250, 250, 250);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 0px 15px;
    border-radius: 2px;
    margin-left: 30px;
    margin-right: 20px;
}
    
.cari{
    color: rgb(22, 22, 22);
    font-size: 12px;
}

.ex{
    cursor: pointer;
    color: black;
}

.pasar-clock{
    text-decoration: none;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    align-items: center;
    border-width: initial;
    border-radius: 20px;
    margin-bottom: 8px;
    margin: 10px;
    color: white;
}

.cart   {
    text-decoration: none;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    align-items: center;
    border-width: initial;
    border-radius: 20px;
    margin-bottom: 8px;
}

.notif-color{
    color: white;
}

.cart-color{
    margin: 10px;
    color: white;
}



.main{
    position: relative;
    top: 60px;
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
    min-height: calc(100vh - 50vh);
    margin: 0px auto;
    padding: 0px 16px 80px;
}

table {
    font-family:'Montserrat', sans-serif;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
}

.pasar-detail{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
}

.pasar-detail--title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.pasar-detail--link{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.detail-link{
    color: #00CBB3;
}

.pasar-entries{
    width: 100%;
}

.pasar-text{
    line-height: 80px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.pasar-button{
    position: absolute;
    margin: 10em;
    padding: 0;
}