.pasar-scroll{
    overflow: hidden;
}

.pasar-popup{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 600;
}

.pasar-popup__overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
}

.pasar-popup__container{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    overflow: visible;
    max-height: 100%;
    max-width: 100%;
}

.link-pasar{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.img-link{
    width: 21.75rem;
    height: 27rem;
}

.pasar-popup__close-btn{
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 2.5rem;
    height: 1.875rem;
    width: 1.875rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #5a5a5a;
    top: -.625rem;
    right: -.625rem;
    border-radius: 1.25rem;
    border: 3px solid #fff;
}

.pasar-popup__close-btn .pasar-popup__icon{
    font-size: .75rem;
    color: #fff;
}

svg:not(:root) {
    overflow: hidden;
}

.pasar-popup__icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}